.tutorials{
    max-width: 600px;
    margin:80px auto 50px auto;
    text-align: center;
}
.tutorials h1{
    font-size: 50px;
    font-weight: 500;
}
.tutorials p{
    font-size: 30px;
    max-width: 500px;
    margin: auto;
}
.tutorials h2{
    font-size: 30px;
    font-weight: 500;
    border: 3px solid var(--orange);
    border-radius: 50px;
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
}
