/* Hide hint button only in ReadAloud component */
.read-aloud-answers-button .answers_button_button:first-child,
.read-aloud-answers-button .hint-used-message {
  display: none;
}

.describe_image_grid{
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

