.add_new_chat{
    margin: 35px 0 0px 110px ;    
}
.add_new_chat p{
    background: var(--yellow);
    display: inline-block;
    padding: 10px 40px;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
}
.menu_items ul{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
}

.menu_items ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    margin-top: 30px;
}
.menu_items ul li p{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--blue);
}
.menu_items ul li img{
    width: 80px;
    height: auto;
}

.chat_history_title{
    margin: 30px 0;
}
.chat_history_title h3{
    font-size: 20px;
}
.home_icon{
    width: 30px;
    height: 30px;
    
}
.home_icon_container{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
    margin-top: 20px;
}
.home_icon_container h3{
    font-size: 18px;
    font-weight: 500;
    color: var(--blue);
    
}

@media (max-width: 1024px) {
    .add_new_chat{
        margin: 35px 0 0px 110px ;    
    }
    
}
