@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/bogart');
@import "tailwindcss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  scrollbar-width: none !important;
}
:root{
  --black: #000;
  --white: #fff;
  --orange:#FFA500;
  --blue:#6EC1E4;
  --light_green:#9fbe9f;
  --semi_blue:#9fc3d4;
  --light_blue:rgb(233, 233, 233);
  --purple:#B499FF;
  --maroon:#8B0000;
  --yellow:#fae38d;
  --light_pink:#FF62C9;
  --red:#FF6B6B;
  --dots:#888888;
  --shadow_1:#00FFF8;
  --shadow_2:#FF00B8;
  --green:#49ec49;
  --gradient_1:linear-gradient(to bottom, #FFCC44, #FFAA11);
}
.font_style{
  font-family: 'Bogart', sans-serif;
}
.container{
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}
a,button,Link{
  text-decoration: none;
  cursor: pointer;
  color: var(--black);
}
::-webkit-scrollbar {
  width: 0px;
  scrollbar-width: none;
}
@media (max-width: 800px) {
  .container{
    width: 95%;
  }
  
}
@media (max-width: 600px) {
  .container{
    width: 97%;
  }
}




